<div class="form-floating floating-field-repeat-new-password" fxFlex="100" fxFill fxLayoutAlign="center center">
    <input
        type="password"
        class="form-control field-repeat-new-password"
        id="floatingPassword"
        placeholder="Password"
        formControlName="new-password"
        (change)="atribuiRepeatNewPassword($event)"
    >
    <label class="label-field-repeat-new-password" for="floatingPassword">Repita Nova Senha</label>
    <div *ngIf="passVisibility; else templateName">
        <span (click)="showPass()" class="material-icons icon-password">visibility</span>
    </div>
    <ng-template #templateName>
        <span (click)="showPass()" class="material-icons icon-password">visibility_off</span>
    </ng-template>
</div>
