@use "typography.scss" as font;
@use "pallete-color" as paleta;

.field-repeat-new-password {
    color: font.$brazona-font-color;
    background-color: blueviolet;
}
.label-field-repeat-new-password {
    color: font.$brazona-font-color;
    font-family: font.$brazona-font-family;
    font-weight: font.$brazona-font-weight;
    font-size: font.$brazona-font-size;
    font-style: font.$brazona-font-style;
}
.floating-field-repeat-new-password {
    color: font.$brazona-font-color;
}
.icon-new-password:hover{
    color: font.$brazona-font-color-hover;
}
