<div class="formulario" fxLayout="column" fxLayoutAlign="center center" fxFlex="99" fxFill >
    <div class="formulario-conteudo-logo" fxFlex="25" fxFill fxLayoutAlign="center center" >
        <!-- <img src="../../../../../assets/imagens/logotipo-idp.png"/> -->
    </div>
    <div class="formulario-conteudo-logo" fxFlex="50" fxFill fxLayoutAlign="center start" >
        <img src="../../../../../assets/imagens/logotipo-idp.png"/>
    </div>
    <div class="formulario-conteudo-logo" fxFlex="25" fxFill fxLayoutAlign="center center" >
        <!-- <img src="../../../../../assets/imagens/logotipo-idp.png"/> -->
    </div>
</div>
<div class="formulario-linha" fxLayout="column" fxLayoutAlign="center center" fxFlex="0.2" fxFill >
    
</div>