@use "pallete-color.scss" as paleta;
@use "typography.scss" as font;

.formulario {
    background-color: paleta.$brazona-verde-escuro-transparente;
    background-repeat: round;
    height: 100%;
    width: 30%;
    position: fixed;
    overflow: auto;
}
.formulario-linha {
    position: fixed;
    height: 100%;
    left: 30%;
    width: 1%;
    margin: 0%;
    background-image: url(../../../../../assets/imagens/elemento.png);
}
.formulario-conteudo-logo img {
    height: 22%;
}