
$brazona-branco:  #F5F5F5;
$brazona-cinza: #4B4B4B;
$brazona-preto: #212121;
$brazona-verde-escuro-transparente: rgba(17, 67, 3, 0.6);
$brazona-verde-escuro: #114303;
$brazona-verde-claro: #29FF00;
$brazona-amarelo-escuro: #212100;
$brazona-amarelo-claro: #EAFE06;
$brazona-amarelo-gradiente: linear-gradient(180deg, #EAFE06 0%, #29FF00 100%);
$brazona-verde-amarelo-gradiente: linear-gradient(to right, #EAFE06 0%, #29FF00 100%);
$brazona-verde-amarelo-gradiente-left: linear-gradient(to right, #EAFE06 0%, #29FF00 100%);